.inputContainer {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    color: white;
    margin-bottom: 5px;
  }
  
  .input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: white;
  
    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }
  