.inputContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .formTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--gray100);
    text-align: center;
  }
}
