.listContainer {
  width: 100%;
  margin-top: 20px;
}

.header {
  display: flex;
  // background-color: #ddd;
  // padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px; /* Espaçamento entre o cabeçalho e os documentos */
}

.document {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 2.75rem;
  width: 100%;
  border: 1px solid var(--gray600);
  border-radius: 4px;
  background-color: var(--gray800);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray100);

  // &:hover {
  //   background-color: color-mix(in srgb, var(--gray800) 95%, black);
  // }
}

.documentActionHeader {
  flex: 1;
  text-align: center;
  border-right: 3px solid var(--gray600);
}

.documentNameHeader {
  flex: 4;
  text-align: center;
  border-right: 3px solid var(--gray600);
}
.documentHeader {
  flex: 1;
  text-align: center;
  border-right: 3px solid var(--gray600);
}


.actionCell {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.documentName {
  flex: 4;
  text-align: left;
  padding-left: 1rem;
}
.documentItem {
  flex: 1;
  text-align: center;
}

.checkbox {
  margin-right: 10px;
}

.completed {
  color: #a19999;
}

.deleteButton {
  flex: 1;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

// .statusDot {
//   display: inline-block;
//   width: 10px;
//   height: 10px;
//   background-color: #4caf50; // verde
//   border-radius: 50%;
//   margin-right: 8px;
//   vertical-align: middle;
// }
.statusDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.statusDotGreen {
  background-color: var(--green);
}

.statusDotRed {
  background-color: var(--red);
}

.statusDotYellow {
  background-color: var(--yellow);
}

.iconDeleteButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: var(--gray400);
  cursor: pointer;
  font-size: 18px;
  margin-left: 8px;
  transition: color 0.2s;

  &:hover {
    color: var(--red);
  }
}
.iconChangeButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: var(--gray400);
  cursor: pointer;
  font-size: 18px;
  margin-left: 8px;
  transition: color 0.2s;

  &:hover {
    color: var(--blue);
  }
}

.finalizeButton {
  font-family: var(--font-primary);
  height: 2.375rem;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;

  border: 1px solid var(--gray600);
  background-color: transparent;
  color: var(--gray100);
  padding: 0 16px;

  &:hover {
    background-color: var(--color-primary);
    color: var(--gray900);
  }
}

.reopen {
  background-color: var(--green);
  color: var(--gray900);

  &:hover {
    background-color: color-mix(in srgb, var(--green) 85%, black);
  }
}
