.contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    .imgBox {
      display: flex;
      align-items: center;
      justify-content: center;
  
      height: 100%;
      width: 100%;
    }
  }
  